xml-resources/web-service-references/verips/wsdl/190.116.175.57_8089/service/verips.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="verips">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://190.116.175.57:8089/service/verips?xsd=1"/>
</xsd:schema>
</types>
<message name="ListaPersonalParaBoticas">
<part name="parameters" element="tns:ListaPersonalParaBoticas"/>
</message>
<message name="ListaPersonalParaBoticasResponse">
<part name="parameters" element="tns:ListaPersonalParaBoticasResponse"/>
</message>
<message name="RetornarRUCParaBoticas">
<part name="parameters" element="tns:RetornarRUCParaBoticas"/>
</message>
<message name="RetornarRUCParaBoticasResponse">
<part name="parameters" element="tns:RetornarRUCParaBoticasResponse"/>
</message>
<message name="lista_boticas">
<part name="parameters" element="tns:lista_boticas"/>
</message>
<message name="lista_boticasResponse">
<part name="parameters" element="tns:lista_boticasResponse"/>
</message>
<message name="ver_ip">
<part name="parameters" element="tns:ver_ip"/>
</message>
<message name="ver_ipResponse">
<part name="parameters" element="tns:ver_ipResponse"/>
</message>
<message name="enviaip">
<part name="parameters" element="tns:enviaip"/>
</message>
<message name="enviaipResponse">
<part name="parameters" element="tns:enviaipResponse"/>
</message>
<message name="datos_dni">
<part name="parameters" element="tns:datos_dni"/>
</message>
<message name="datos_dniResponse">
<part name="parameters" element="tns:datos_dniResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<portType name="verips">
<operation name="ListaPersonalParaBoticas">
<input wsam:Action="http://webservices/verips/ListaPersonalParaBoticasRequest" message="tns:ListaPersonalParaBoticas"/>
<output wsam:Action="http://webservices/verips/ListaPersonalParaBoticasResponse" message="tns:ListaPersonalParaBoticasResponse"/>
</operation>
<operation name="RetornarRUCParaBoticas">
<input wsam:Action="http://webservices/verips/RetornarRUCParaBoticasRequest" message="tns:RetornarRUCParaBoticas"/>
<output wsam:Action="http://webservices/verips/RetornarRUCParaBoticasResponse" message="tns:RetornarRUCParaBoticasResponse"/>
</operation>
<operation name="lista_boticas">
<input wsam:Action="http://webservices/verips/lista_boticasRequest" message="tns:lista_boticas"/>
<output wsam:Action="http://webservices/verips/lista_boticasResponse" message="tns:lista_boticasResponse"/>
</operation>
<operation name="ver_ip">
<input wsam:Action="http://webservices/verips/ver_ipRequest" message="tns:ver_ip"/>
<output wsam:Action="http://webservices/verips/ver_ipResponse" message="tns:ver_ipResponse"/>
</operation>
<operation name="enviaip">
<input wsam:Action="http://webservices/verips/enviaipRequest" message="tns:enviaip"/>
<output wsam:Action="http://webservices/verips/enviaipResponse" message="tns:enviaipResponse"/>
</operation>
<operation name="datos_dni">
<input wsam:Action="http://webservices/verips/datos_dniRequest" message="tns:datos_dni"/>
<output wsam:Action="http://webservices/verips/datos_dniResponse" message="tns:datos_dniResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://webservices/verips/datos_dni/Fault/IOException"/>
</operation>
</portType>
<binding name="veripsPortBinding" type="tns:verips">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ListaPersonalParaBoticas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetornarRUCParaBoticas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lista_boticas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ver_ip">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviaip">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datos_dni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="verips">
<port name="veripsPort" binding="tns:veripsPortBinding">
<soap:address location="http://190.116.175.57:8089/service/verips"/>
</port>
</service>
</definitions>